
html, body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: blue;
}

span {
    padding: 20px;
}

.count-content {
    margin: 15px;
    /* float: right; */
}

.form-content {
    margin: 15px;
}

.circle-border {
    border-radius: 50%;
}

table {
    width: 100%;
    text-align: center;
}

.green {
    background-color: green;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.blue-border {
    border: 2px solid blue;
}

.yellow {
    background-color: yellow;
}

.orange-border {
    border: 5px solid orange;
}

.red-border {
    border: 2px solid red;
}