
html, body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: blue;
}

.count-content {
    float: right;
}

.circle-border {
    border-radius: 50%;
}

table {
    width: 100%;
    text-align: center;
}

.green {
    background-color: green;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}

.orange-border {
    border: 5px solid orange;
}

.red-border {
    border: 2px solid red;
}